gradio
langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-groq==0.3.7
faiss-cpu
sentence-transformers
pypdf
python-docx
pandas
openpyxl

python-pptx
tiktoken
